apiVersion: v1
kind: Service
metadata:
  name: {{ include "llm-mock.fullname" . }}
  labels:
    {{- include "llm-mock.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8083
      protocol: TCP
      name: http
  selector:
    app: {{ include "llm-mock.name" . }}
